@import '../../Const.scss';

.appointment__wrapper {
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.appointment__form {
  @include flex-column-ai-center();

  height: 100%;
  background: url('../../../public/imgs/appointment-background.png') no-repeat;

  &-title {
    text-align: center;
    margin: 20px;
  }
}

.selects {
  margin-bottom: 20px;
}

.checkBox__container {
  @include little-text();
  font-weight: 600;
  margin: 20px 0 20px 0;
}

.button-main_margin {
  margin-bottom: 20px;
  .button-main {
    @include button-main();
  }
}
