@import '../../Const.scss';

.footer {
  color: #000;
  @include main-text();

  &__box {
    padding: 15px 0 15px 0;
    background: linear-gradient(to top left, rgba(117, 179, 125, 0.7), #f0f6f1);
    display: flex;
    justify-content: space-around;
  }

  &__border {
    height: 20px;
    width: 100%;
    background: $bacground-color;
  }

  &__title {
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  &__menu {
    display: flex;
    text-transform: uppercase;

    &-ul {
      @include flex-column-ai-center();
      list-style-type: none;
    }

    &-li {
      margin-bottom: 5px;
    }

    &-href {
      text-decoration: none;
      color: #000;
      @include flex-ai-center();
    }
  }

  &__address {
    max-width: 210px;

    &-ul {
      display: flex;
      flex-direction: column;
    }

    &-href {
      display: flex;
      text-decoration: none;
      color: #000;
    }

    &-icons {
      max-width: 25px;
      max-height: 25px;
      margin: 5px;
    }

    &-li {
      display: flex;
    }
  }

  &__soc-net {
    &-images {
      @include flex-ai-center();
      justify-content: center;
      list-style-type: none;
    }

    &-icons {
      width: 40px;
      max-height: 40px;
      margin: 5px;
    }
  }
}

.cell {
  display: flex;
  flex-direction: column;
}

.address {
  @include flex-ai-center;
}

.entrepreneur__data {
  font-size: 20px;
}

.mail {
  margin: 15px 0 15px 0;
}

.footer__footer {
  @include flex-ai-center();
  justify-content: center;
}

.menu__href {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  list-style-type: none;
}
