@import '../../Const.scss';

.footer {
  color: #000;
  @include main-text();
}

.footer__box {
  padding: 15px 0 15px 0;
  background: linear-gradient(to top left, rgba(117, 179, 125, 0.7), #f0f6f1);
}

.footer__title-main {
  height: 50px;
  width: 100%;
  background: $bacground-color;
}

.footer__title {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.footer__box {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.footer__box-address {
  max-width: 210px;
}

.footer__menu {
  display: flex;
  text-transform: uppercase;
}

.footer__ul {
  @include flex-column-ai-center();
  list-style-type: none;
  min-width: 150px;
}

.footer__li {
  margin-bottom: 5px;
}

.footer__href {
  text-decoration: none;
  color: #000;
  @include flex-ai-center();
}

.icons {
  width: 40px;
  max-height: 40px;
  margin: 5px;
}

.icons_address {
  width: 25px;
  margin-right: 20px;
}

.cell {
  display: flex;
  flex-direction: column;
}

.address {
  @include flex-ai-center;
}

.social-network__images {
  @include flex-column-ai-center();
  list-style-type: none;
}

.entrepreneur__data {
  font-size: 20px;
}

.mail {
  margin: 15px 0 15px 0;
}

.footer__footer {
  @include flex-ai-center();
  justify-content: center;
}

.menu__href {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  list-style-type: none;
}
