@import '../../Const.scss';

.footer {
  color: #000;
  @include main-text();

  &__box {
    padding: 15px 0 15px 0;
    background: linear-gradient(to top left, rgba(117, 179, 125, 0.7), #f0f6f1);
    display: flex;
    justify-content: space-around;
  }

  &__border {
    height: 20px;
    width: 100%;
    background: $bacground-color;
  }

  &__menu {
    display: flex;
    text-transform: uppercase;
  }

  &__menu-ul {
    @include flex-column-ai-center();
    list-style-type: none;
    min-width: 150px;
  }

  &__menu-li {
    margin-bottom: 5px;
  }

  &__menu-href {
    text-decoration: none;
    color: #000;
    @include flex-ai-center();
  }

  &__title {
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.footer__box-address {
  max-width: 210px;
}

.icons {
  width: 40px;
  max-height: 40px;
  margin: 5px;
}

.icons_address {
  width: 25px;
  margin-right: 20px;
}

.cell {
  display: flex;
  flex-direction: column;
}

.address {
  @include flex-ai-center;
}

.social-network__images {
  @include flex-column-ai-center();
  list-style-type: none;
}

.entrepreneur__data {
  font-size: 20px;
}

.mail {
  margin: 15px 0 15px 0;
}

.footer__footer {
  @include flex-ai-center();
  justify-content: center;
}

.menu__href {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  list-style-type: none;
}
